@page "/"
 
<PageTitle>Azil za životinje</PageTitle>
 
<h1>Dobro došli!</h1>
 
<p>
    AzilEdu je aplikacija za upravljanje podacima o životinjama,
    vrstama, pasminama i udomljavanju.
</p>
 
<p>
    U sljedećim lekcijama postupno ćemo dodavati nove funkcionalnosti
    i povezivati korisničko sučelje s API slojem.
</p>